<template>
  <li :class="liClassVal">
    <span
      :class="spanClassVal"
      @click="open(model)"
    />
    <a
      :class="aClassVal"
      @click="Func(model)"
      @dblclick.stop="dbClickFunc(model)"
    >
      <span class="node_name">{{ model.name}} </span>
    </a>
    <ul
      v-show="model.isExpand"
      :class="ulClassVal"
    >
      <GCTreeItem
        v-for="(item,i) in model.children"
        :key="i"
        :model="item"
        :num="i"
        :nodes="model.children.length"
        :trees="trees"
        :callback="callback"
        :db-click-func="dbClickFunc"
        root="1"
        @dblclick.stop="dbClickFunc(item)"
      />
    </ul>
  </li>
</template>

<script setup>
import { defineProps, computed } from 'vue'

const props = defineProps({
  model: {
    type: Object,
    default: () => Object
  },
  num: {
    type: Number,
    default: () => 0
  },
  nodes: {
    type: Number,
    default: () => 0
  },
  trees: {
    type: Array,
    default: () => []
  },
  root: {
    type: String,
    default: () => ''
  },
  callback: {
    type: Function,
    default: () => Function
  },
  dbClickFunc: {
    type: Function,
    default: () => Function
  }
})

function Func(m) {
  if (typeof props.callback === 'function') {
    props.callback.call(null, m)
  }

  // 查找点击的子节点
  const recurFunc = (data) => {
    data.forEach(function (i) {
      if (i.number === m.number) {
        i.clickNode = true
      } else {
        i.clickNode = false
      }

      if (i.children) {
        recurFunc(i.children)
      }
    })
  }

  recurFunc(props.trees)
}

function open(m) {
  m.isExpand = !m.isExpand
}

const rootClass = computed(() => {
  let strRootClass = ''

  // 根判断
  if (props.root === '0') {
    strRootClass =
      props.num === 0 && !props.model.children
        ? 'roots_docu'
        : props.nodes === 1 ||
          (props.num === 0 && props.nodes !== props.num + 1)
          ? 'root_'
          : props.nodes === props.num + 1
            ? 'bottom_'
            : 'center_'

    // 子树判断
  } else if (props.root === '1') {
    strRootClass =
      props.nodes > 1 && props.model.children && props.nodes !== props.num + 1
        ? 'center_'
        : (props.num === 0 && props.nodes > 1) || props.nodes !== props.num + 1
            ? 'center_docu'
            : (props.nodes === 1 && props.num !== 0) ||
          (props.nodes === props.num + 1 && props.model.children)
                ? 'bottom_'
                : 'bottom_docu'
  }

  return strRootClass
})

const isChildren = computed(() => {
  return props.num + 1 !== props.nodes
})

const prefixClass = computed(() => {
  let returnChar = ''
  if (rootClass.value.indexOf('docu') === -1) {
    if (props.model.isExpand) {
      returnChar = 'open'
    } else {
      returnChar = 'close'
    }
  }

  if (!props.model.children && rootClass.value.indexOf('docu') === -1) {
    returnChar = 'docu'
  }

  return returnChar
})

const liClassVal = computed(() => {
  return 'level' + props.num
})

const spanClassVal = computed(() => {
  return (
    'button level' +
    props.num +
    ' switch ' +
    rootClass.value +
    prefixClass.value
  )
})

const aClassVal = computed(() => {
  return props.model.clickNode
    ? 'level' + props.num + ' curSelectedNode'
    : 'level' + props.num
})

const ulClassVal = computed(() => {
  return isChildren.value && props.model.children
    ? 'level' + props.num + ' line'
    : 'level' + props.num
})
</script>
